@font-face{
    font-family: MRegular;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: MBold;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: MMedium;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: MSemi;
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}
