*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: MRegular;
    color: #000;
    font-size: 18px;
    line-height: 22px;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    outline: none;
}

button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

ul {
    list-style: none;
    &,
    li {
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
    }
}

.input {
    border-radius: 5px;
    font-family: MMedium;
    border: 1px solid $orange;
    color: #636363;
    outline: none;
    font-size: 10px;
    line-height: 12px;
    padding: 6px 10px 4px 28px;
    &::placeholder {
        color: #636363;
        font-family: MMedium;
        font-size: 10px;
        line-height: 12px;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: $orange;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    &:-webkit-autofill {
        box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
        -webkit-text-fill-color: #636363 !important; /* цвет текста */
        color: #636363 !important; /* цвет текста */
    }
}

input[type="checkbox"] {
    display: none;
}

.checkbox {
    width: 11px;
    height: 11px;
    position: relative;
    background-image: url(../img/checkbox.png);
    background-repeat: no-repeat;
    background-position: center;
    &.checked {
        &::after {
            display: block;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 2px;
        display: none;
        width: 10px;
        height: 7px;
        background-image: url(../img/checkbox-mark.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.checkbox-wrapper {
    display: flex;
    &.error .checkbox-label{
        color: $orange;
    }
}

.input-wrapper {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        left: 10px;
        background-size: contain;
    }
    &::after{
        content: '';
        position: absolute;
        right: -18px;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        display: none;
        width: 12px;
        height: 12px;
        background-size: contain;
    }
    &.success::after {
        background-image: url(../img/success.png);
        display: block;
    }
    &.error::after {
        background-image: url(../img/error.png);
        display: block;
    }
}

.input-name::before {
    width: 10px;
    height: 11px;
    background-image: url(../img/human.png);
}

.input-phone::before {
    width: 11px;
    height: 11px;
    background-image: url(../img/form-phone.png);
}

.document-wrapper {
    // overflow: hidden;
}

.document-container {
    max-width: 1366px;
    margin: 0 auto;
    overflow: hidden;
}

.com {
    padding-left: 50px;
    position: relative;
    &:hover::before{
        animation: swing .5s ease;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background-image: url(../img/phone.png);
        background-repeat: no-repeat;
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__phone {
        font-size: 24px;
        line-height: 29px;
        font-family: MBold;
    }
    &__descr {
        font-size: 12px;
        line-height: 15px;
        text-decoration: underline;
    }
}

.com-mobile{
    display: flex;
    display: none;
}

.btn-linear {
    box-shadow: 4px 4px 10px #ffb501;
    background: linear-gradient(188.4deg, #ffcc00 -2.43%, #ff5100 107.34%);
    border-radius: 10px;
    color: #fff;
    text-shadow: 0px 2px 1px rgba(255, 81, 0, 0.8);
}

.btn-click {
    border-bottom: 3px solid #ff5100;
    transition: none !important;
    &:hover {
        margin-top: 1px;
        border-bottom: 2px solid #ff5100;
    }
    &:active {
        margin-top: 2px;
        border-bottom: 1px solid #ff5100;
    }
}

.btn {
    font-family: MBold;
    cursor: pointer;
    transition: all 0.05s;
}

.section-title {
    font-size: 36px;
    line-height: 44px;
    font-family: MSemi;
    margin-bottom: 50px;
    span {
        display: inline-block;
        padding-left: 22px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 25px;
            background: linear-gradient(246.34deg, #ffcc00 -2.43%, #ff5100 107.34%);
            /* light */

            box-shadow: 4px 4px 10px #ffb501;
        }
    }
}

.form {
    &__title {
        font-family: MSemi;
    }
    &__text {
        font-family: MMedium;
    }
    &__or {
        &-text {
            font-family: MMedium;
        }
        &-phone {
            font-family: MSemi;
            border-bottom: 2px solid $orange;
        }
    }
}

.checkbox-label {
    font-family: MMedium;
}

.close {
    width: 31px;
    height: 31px;
    border: 2px solid #000;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 17px;
        width: 2px;
        background: #000;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.module {
    display: none;
}

.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

@keyframes modal-on {
    0% {
        background: rgba(#333, 0);
    }
    100% {
        background: rgba(#333, 0.8);
    }
}
@keyframes modal-off {
    0% {
        background: rgba(#333, 0.8);
    }
    100% {
        background: rgba(#333, 0);
    }
}
@keyframes modalInner-on {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes modalInner-off {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-200%);
    }
}
