@media (max-width: 1300px) {
    .rent {
        &__inner {
            padding-left: 55px;
            padding-right: 20px;
            &::before {
                width: 835px;
            }
        }
        &__img img {
            max-width: 450px;
        }
    }
}

@media (max-width: 1290px) {
    .portfolio-common {
        .slick-next {
            right: 0;
        }
        .slick-prev {
            left: -10px;
        }
    }
}

@media (max-width: 1250px) {
    .header {
        .logo img {
            width: 200px;
        }
        .menu-item + .menu-item {
            padding-left: 25px;
        }
        .com {
            &__phone {
                font-size: 18px;
                line-height: 22px;
            }
            &__descr {
                font-size: 11px;
                line-height: 14px;
            }
        }
    }
}

@media (max-width: 1230px) {
    .portfolio__container {
        max-width: 1130px;
    }
    .portfolio-common {
        .slick-slide > div {
            display: flex;
            justify-content: center;
        }
        .slick-next {
            right: 30px;
        }
        .slick-prev {
            left: 30px;
        }
    }
}

@media (max-width: 1180px) {
    .main {
        &__container {
            padding-right: 15px;
        }
        &__inner {
            align-items: center;
        }
        &__img img {
            width: 500px;
        }
    }
}

@media (max-width: 1145px) {
    .portfolio {
        &__container {
            max-width: 910px;
        }
        &-main {
            display: flex;
            align-items: center;
            &__select {
                display: block;
                z-index: 2;
                margin-bottom: 35px;
            }
            &__list {
                display: none;
                position: absolute;
                width: 100%;
                flex-direction: column;
                top: calc(100% - 5px);
                background: #fff;
                z-index: 1;
                border-radius: 5px;
                border: 2px solid $orange;
                border-top: none;
                left: 0;
                &-wrapper {
                    position: relative;
                    width: 300px;
                }
            }
            &__price {
                &-wrapper {
                    flex-direction: column-reverse;
                    align-items: flex-start;
                }
                &-content {
                    margin-left: 0;
                    margin-bottom: 10px;
                }
            }
            &__characters {
                margin-bottom: 30px;
            }
            .list-item {
                width: 100%;
                text-align: center;
                margin: 0;
                padding: 10px;
            }
            .list-item + .list-item {
                padding-top: 0;
            }
            .list-btn {
                width: 100%;
                color: $orange;
                &.active,
                &:hover {
                    background: rgba($orange, 0.9);
                    text-shadow: none;
                }
            }
            .slick-slide {
                width: 500px !important;
            }
            &__slider {
                width: 500px;
            }
            &__slider-item {
                height: 260px;
            }
        }
        &-common {
            .slick-next {
                right: 15px;
            }
            .slick-prev {
                left: 15px;
            }
        }
    }
}

@media (max-width: 1140px){
    .footer{
        &__container{
            max-width: 768px;
        }
        &__inner{
            position: relative;
            padding-bottom: 90px;
        }
        &__info{
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

@media (max-width: 1110px) {
    .rent {
        &__inner {
            padding-left: 30px;
            padding-right: 10px;
            &::before {
                width: 800px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1065px) {
    .rent {
        padding-top: 120px;
        &__inner {
            flex-direction: column-reverse;
            padding: 0 15px 25px;
            &::before {
                top: auto;
                width: 100%;
                bottom: 0;
                left: 0;
                transform: none;
                border-radius: 0;
                height: 340px;
            }
        }
        &__img {
            margin-bottom: 40px;
        }
    }
    .pd {
        &__title {
            padding-right: 0;
        }
    }
}

@media (max-width: 1040px) {
    .advan {
        &__container {
            max-width: 870px;
        }
        &__inner {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 1030px) {
    .header {
        .com {
            padding-left: 0;
            &::before {
                display: none;
            }
        }
    }
}

@media (max-width: 975px) {
    .main {
        &__wrapper {
            padding-bottom: 100px;
            padding-top: 50px;
        }
        &__container {
            padding-top: 0;
            padding-bottom: 0;
        }
        &__container::before {
            min-height: 300px;
            width: 375px;
        }
        &__inner {
            position: relative;
        }
        &__img {
            img {
                width: 400px;
            }
        }
        &__content {
            max-width: 390px;
        }
        &__title {
            font-size: 24px;
            line-height: 29px;
        }
        &__list {
            font-size: 14px;
            line-height: 17px;
        }
        &__btn {
            &-wrapper {
                order: 1;
                padding-right: 0;
            }
            &-descr {
                right: auto;
                left: 125px;
            }
        }
    }
}

@media (max-width: 970px) {
    .header {
        &__menu,
        .com {
            display: none;
        }
        &__menu-btn {
            display: block;
        }
        .menu {
            display: flex;
            flex-direction: column;
        }
        .menu-item + .menu-item {
            padding-left: 0;
        }
    }
    .pd {
        &__container{
            padding: 0 20px;
        }
        &__title{
            text-align: left;
            margin-bottom: 50px;
        }
        &__delivery {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
            margin-bottom: 40px;
            &-img img {
                max-width: 420px;
            }
            &-content{
                padding-top: 0;
            }
        }
        &__pay{
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}

@media (max-width: 940px){
    .special__inner{
        flex-direction: column;
        align-items: center;
    }
    .special__item-wrapper + .special__item-wrapper{
        margin-left: 0;
        margin-top: 10px;
    }
    .special__item-inner{
        justify-content: flex-start;
    }
}

@media (max-width: 925px) {
    .portfolio {
        &__title {
            text-align: left;
        }
        &__container {
            max-width: 500px;
        }
        &-main {
            justify-content: center;
            position: relative;
            padding: 19px 15px;
            &__select {
                margin-bottom: 305px;
            }
            &__characters {
                display: none;
            }
            &__slider-wrapper {
                position: absolute;
                top: 120px;
                margin-right: 0;
            }
            &__arrow {
                display: none;
            }
            .slick-slide {
                width: 305px !important;
            }
            &__slider {
                width: 305px;
            }
            &__slider-item {
                height: 182px;
            }
            &__price {
                &-wrapper {
                    max-width: 305px;
                    align-items: center;
                }
                &-content {
                    margin-bottom: 17px;
                }
                &-btn {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
            .slick-next,
            .slick-prev {
                bottom: -64px;
            }
            .slick-next {
                right: 100px;
            }
            .slick-prev {
                left: 100px;
            }
        }
    }
}

@media (max-width: 835px) {
    .order {
        &__item {
            width: 240px;
            padding: 15px 20px 10px 15px;
            &-content {
                max-width: 110px;
            }
            &-number {
                font-size: 24px;
                line-height: 29px;
            }
            &-title {
                font-size: 14px;
                line-height: 17px;
            }
            &-body {
                font-size: 8px;
                line-height: 10px;
            }
            &-img img {
                width: 65px;
            }
        }
    }
}

@media (max-width: 790px){
    .contacts__inner{
        padding-left: 345px;
    }
}

@media (max-width: 768px) {
    .header {
        padding-left: 100px;
        padding-right: 100px;
        &.fixed{
            padding-top: 15px;
            padding-bottom: 14px; 
        }
    }
    .main {
        padding-top: 50px;
        &__wrapper {
            padding-bottom: 0;
            padding-top: 0;
            background-size: 100% auto;
        }
        &__inner {
            max-width: 430px;
            margin: 0 auto;
        }
        &__container::before {
            top: 88px;
            min-height: 280px;
            width: 415px;
            transform: matrix(1, 0, -0.3, 1, 0, 0);
        }
        &__content {
            max-width: none;
            display: flex;
            flex-direction: column;
        }
        &__img {
            position: absolute;
            top: 98px;
            left: 50px;
        }
        &__title {
            margin-bottom: 340px;
            order: 0;
        }
        &__list {
            order: 2;
        }
        &__btn-wrapper {
            order: 1;
            margin-bottom: 41px;
        }
    }
    .section-title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 40px;
        span {
            padding-left: 16px;
            &::before {
                height: 18px;
            }
        }
    }
    .portfolio {
        padding-top: 80px;
    }
    .rent {
        padding-top: 80px;
        &__inner {
            padding-bottom: 23px;
            &::before {
                height: 310px;
            }
        }
        &__img {
            margin-bottom: 35px;
        }
        &__head {
            margin-bottom: 35px;
        }
        &__title {
            font-size: 28px;
            line-height: 34px;
        }
        &__body {
            font-size: 14px;
            line-height: 17px;
        }
    }
    .advan {
        &__wrapper {
            padding-top: 40px;
            padding-bottom: 90px;
        }
        &__item {
            padding-left: 55px;
            &::before {
                background-size: contain;
                width: 45px;
                height: 45px;
            }
            &-title {
                font-size: 18px;
                line-height: 22px;
            }
            &-text {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
    .pd{
        &__title{
            margin-bottom: 30px;
        }
        &__delivery-img img{
            max-width: 345px;
        }
        &__pay-img img{
            max-width: 200px;
        }
    }
    .special{
        padding-top: 90px;
        &__title{
            font-size: 24px;
            line-height: 29px;
            span{
                padding: 0 40px;
            }
            &::before{
                height: 23px;
            }
        }
        &__inner{
            flex-direction: row;
            margin-bottom: 52px;
        }
        &__item{
            padding: 23px 24px;
            &-wrapper{
                max-width: 335px;
                & + &{
                    margin-top: 0;
                    margin-left: 10px;
                }
            }
            &-inner{
                justify-content: center;
                padding-left: 78px;
            }
            &-inner::before{
                background-size: contain;
                width: 58px;
                height: 58px;
            }
            &-text{
                font-size: 12px;
                line-height: 15px;
            }
            &-important{
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    .contacts{
        &__title{
            font-size: 28px;
            line-height: 36px;
        }
    }
}

@media (max-width: 745px){
    .contacts{
        &__wrapper{
            padding-top: 36px;
            padding-bottom: 0;
        }
        &__inner{
            padding-left: 0;
        }
        &__content{
            margin-bottom: 44px;
        }
        &__form{
            position: static;
            margin: 0 auto;
            margin-bottom: -140px;
        }
        &__inst{
            display: block;
        }
    }
}

@media (max-width: 730px){
    .footer{
        &__container{
            max-width: 495px;
        }
        &__inner{
            padding-bottom: 80px;
        }
        .logo img{
            width: 240px;
        }
        .com{
            display: none;
        }
        .com-mobile{
            display: flex;
        }
    }
}

@media (max-width: 710px){
    .special{
        &__inner{
            flex-direction: column;
        }
        &__item{
            &-wrapper{
                & + &{
                    margin-left: 0;
                    margin-top: 13px;
                }
            }
            &-inner{
                justify-content: flex-start;
            }
        }
    }
}

@media (max-width: 650px) {
    .header {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 600px) {
    .header {
        padding-top: 50px;
    }
    .main {
        &__wrapper {
            background-position: 0 35px;
        }
        &__container::before {
            min-height: 240px;
        }
        &__inner {
            max-width: 310px;
        }
        &__title {
            font-size: 18px;
            line-height: 22px;
        }
        &__list {
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 0;
            &-item {
                &::before {
                    top: -10px;
                }
                & + & {
                    margin-top: 24px;
                }
            }
        }
        &__img {
            left: 0;
            img {
                width: 326px;
            }
        }
    }
}

@media (max-width: 560px) {
    .order {
        &__item {
            width: 158px;
            padding-top: 13px;
            padding-bottom: 14px;
            margin: 0;
            margin-right: 20px;
            margin-bottom: 20px;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &-img img {
                width: 50px;
            }
            &-head {
                margin-bottom: 0;
            }
            &-content {
                max-width: 65px;
            }
            &-number {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }
            &-title {
                font-size: 8px;
                line-height: 10px;
            }
            &-body {
                display: none;
            }
        }
    }
}

@media (max-width: 500px) {
    .header .logo img {
        width: 157px;
    }
    .main {
        &__container::before {
            width: 335px;
        }
    }
    .order {
        &__container {
            padding: 0 10px;
        }
    }
    .section-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 30px;
        margin-left: 10px;
        span::before {
            height: 13px;
        }
    }
    .portfolio {
        padding-top: 40px;
        &-common {
            max-width: 365px;
            margin: 0 auto;
            .slick-next,
            .slick-prev {
                bottom: -58px;
                top: auto;
                transform: none;
            }
            .slick-next {
                right: 110px;
            }
            .slick-prev {
                left: 110px;
            }
        }
    }
    .rent {
        padding-top: 120px;
        &__img {
            margin-bottom: 67px;
            img {
                max-width: 100%;
            }
        }
        &__inner {
            padding: 0 20px 15px;
            &::before {
                height: 375px;
            }
        }
        &__head {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
        &__title {
            font-size: 24px;
            line-height: 29px;
            margin-right: 0;
            margin-bottom: 24px;
        }
        &__body {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 23px;
        }
        &__btn {
            margin-right: 0;
            width: 100%;
            padding: 16px;
            margin-bottom: 15px;
            text-align: center;
            &-wrapper {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .advan {
        padding-top: 0;
        &__wrapper {
            background-image: url(../img/advan-mobile.jpg);
            background-size: 100% 270px;
            background-position: top left;
            min-height: 0;
            padding-top: 60px;
            padding-bottom: 45px;
        }
        &__title {
            margin-bottom: 50px;
            margin-left: 0;
        }
        &__item {
            padding-left: 0;
            max-width: none;
            max-width: 330px;
            margin-bottom: 10px;
            width: 100%;
            &.active {
                &::after {
                    transform: rotate(180deg);
                }
            }
            &::before {
                width: 25px;
                height: 25px;
                cursor: pointer;
                top: -4px;
            }
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 5px;
                width: 15px;
                height: 10px;
                cursor: pointer;
                transition: all 0.3s ease;
                transform: rotate(0);
                background-image: url(../img/arrow-advan.png);
                background-repeat: no-repeat;
            }
            &-title {
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                line-height: 17px;
            }
            &-text {
                display: none;
            }
        }
    }
    .pd{
        &__title{
            margin-bottom: 20px;
        }
    }
    .special{
        &__wrapper{
            background: none;
            padding-bottom: 54px;
        }
        &__title{
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 68px;
            span{
                padding: 2px 14px;
            }
            &::before{
                height: 21px;
            }
        }
        &__inner{
            margin-bottom: 40px;
            padding: 0 10px;
        }
        &__item::after{
            display: none;
        }
        &__timer{
            padding: 0 10px;
            &-item{
               & + &{
                    padding-left: 18px;
                    margin-left: 9px;
                    &::before,
                    &::after{
                        width: 8px; 
                        height: 8px;
                    }
                    &::before{
                        top: 27px;
                    }
                    &::after{
                        top: 45px;
                    }
               }
            }
        }
        .timer-item{
            &__value{
                width: 63px;
                height: 70px;
            }
            &__descr{
                font-size: 10px;
                line-height: 12px;
            }
        }
        &__btns{
            padding: 0 10px;
            flex-direction: column;
            align-items: center;
        }
        &__btn{
            &-order,
            &-phone{
                max-width: 335px;
                width: 100%;
                text-align: center;
            }
            &-order{
                margin-right: 0;
                margin-bottom: 10px;
            }
            &-phone{
                background: #ffffff;
                background-clip: padding-box;
                &:hover{
                    span{
                        background: #ffffff;
                        background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }
    .contacts{
        &__title{
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 25px;
        }
        &__content{
            font-size: 14px;
            line-height: 17px;
        }
        &__form{
            max-width: 314px;
            width: 100%;
        }
    }
    .footer{
        &__container{
            max-width: 365px;
        }
        &__inner{
            padding-bottom: 70px;
        }
        .logo img{
            width: 157px;
        }
        &__info{
            font-size: 10px;
            line-height: 12px;
        }
    }
    .modal#default-modal{
        align-items: flex-start;
        max-height: 100%;
        overflow: auto;
        .modal{
            &__inner{
                padding-top: 77px;
                width: 100%;
                min-height: 812px;
                border-radius: 0;
                background-image: url(../img/modal-mobile.jpg);
                background-repeat: no-repeat;
                background-position: bottom left;
                background-size: 100% auto;
                display: flex;
                justify-content: center;
            }
            &__body{
                background: none;
                max-width: 284px;
            }
        }
        .close{
            top: 45px;
            border: 2px solid $orange;
            &::before,
            &::after{
                background: $orange;
            }
        }
    }
    #sale-modal{
        .modal{
            &__inner{
                min-height: 461px;
                width: 314px;
                padding: 50px 46px 24px 21px;
            }
            &__img{
                margin-top: 28px;
                margin-bottom: 55px;
                img{
                    max-width: 97px;
                }
            }
        }
        .close{
            right: 15px;
            top: 19px;
        }
    }
}

@media (max-width: 380px) {
    .portfolio-common__item {
        height: 200px;
    }
    .modal#default-modal{
        .modal{
            &__inner{
                padding-left: 40px; 
                padding-right: 40px;
                justify-content: flex-start;
            }
        }
        .close{
            right: 20px;
        }
    }
}

@media (max-width: 374px) {
    .order {
        &__item {
            margin-right: 10px;
            margin-left: 10px;
            &:nth-child(2n) {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 370px) {
    .rent__inner {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 360px) {
    .portfolio {
        &__container {
            padding: 0 5px;
        }
        &-main {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}

@media (max-width: 355px){
    .special{
        &__timer-item{
            & + &{
                padding-left: 12px;
                margin-left: 4px;
            }
        }
        .timer-item{
            &__value{
                box-shadow: none;
            }
        }
    }
}

@media (max-width: 350px) {
    .main {
        &__img {
            left: -15px;
        }
    }
}

@media (max-width: 340px) {
    .portfolio {
        &-main {
            &__select {
                width: 280px;
                margin-left: auto;
                margin-right: auto;
            }
            &__list-wrapper {
                width: 280px;
            }
            &__slider {
                width: 280px;
                &-item {
                    height: 170px;
                }
            }
            .slick-slide {
                width: 280px !important;
            }
        }
    }
    .advan {
        &__container {
            padding: 0 5px;
        }
        &__inner {
            padding: 0 10px;
        }
    }
    .pd{
        &__container{
            padding: 0 10px;
        }
    }
    .contacts__wrapper{
        padding-left: 7px;
        padding-right: 7px;
    }
    .modal#default-modal{
        .modal__inner{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (max-width: 330px) {
    .main__btn-wrapper {
        left: -8px;
    }
}

@media (min-width: 1146px) {
    .portfolio-main__list {
        display: block !important;
    }
}

@media (min-width: 971px) {
    .header__mobile {
        display: none !important;
    }
}
