@import "libs.scss";
@import "fonts.scss";
@import "vars.scss";
@import "global.scss";

.header {
  padding: 24px 42px 0 60px;
  max-width: 1366px;
  z-index: 500;
  top: 0;
  width: 100%;
  display: flex;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &.fixed {
    position: fixed;
    opacity: 0;
    padding-bottom: 25px;
    background: #fff;
    &.on {
      opacity: 1;
      transition: opacity 0.2s ease;
    }
    &::after {
      display: none;
    }
  }
  &__menu {
    font-size: 12px;
    line-height: 15px;
    font-family: MSemi;
  }
  .menu-item a {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      transition: all 0.5s ease;
      background: $orange;
    }
    &:hover::before {
      width: 100%;
    }
  }
  .menu-item + .menu-item {
    padding-left: 30px;
  }
  &__menu-btn {
    display: none;
    width: 24px;
    cursor: pointer;
    div {
      height: 3px;
      width: 100%;
      background: #000;
      border-radius: 10px;
    }
    div + div {
      margin-top: 4px;
    }
  }
  &__mobile {
    display: none;
    position: absolute;
    top: 0;
    overflow: auto;
    left: 0;
    z-index: 510;
    background: #ffffff;
    width: 100%;
    &-inner {
      padding: 44px 20px 50px;
      max-width: 375px;
      margin: 0 auto;
      max-height: 100%;
    }
    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 57px;
    }
    &-title {
      font-size: 24px;
      line-height: 29px;
      color: $orange;
      font-family: MSemi;
    }
    &-btns {
      display: flex;
      align-items: center;
    }
    &-inst {
      display: flex;
      &:hover {
        animation: swing 0.5s ease;
      }
    }
    .close {
      margin-left: 32px;
      border: 2px solid $orange;
      &::before,
      &::after {
        background: $orange;
      }
    }
    .menu-item {
      margin-bottom: 38px;
      font-size: 24px;
      line-height: 29px;
      font-family: MSemi;
    }
    &-descr {
      font-size: 14px;
      line-height: 17px;
      font-family: MMedium;
      max-width: 250px;
      margin-bottom: 11px;
    }
    &-phone {
      font-size: 24px;
      line-height: 29px;
      font-family: MSemi;
      padding-bottom: 10px;
      border-bottom: 2px solid $orange;
    }
  }
}

.main {
  margin-bottom: 50px;
  &__wrapper {
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 80px;
    padding-bottom: 120px;
  }
  &__container {
    max-width: 1270px;
    margin-right: 0;
    margin-left: auto;
    padding: 30px 45px 20px 15px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: -135px;
      z-index: 0;
      width: 548px;
      background: linear-gradient(204.93deg, #ffcc00 -2.43%, #ff5100 107.34%);
      box-shadow: 4px 4px 10px #ffb501;
      border-radius: 20px;
      min-height: 465px;
      top: 50%;
      transform: translateY(-50%) matrix(1, 0, -0.3, 1, 0, 0);
    }
  }
  &__inner {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
  }
  &__title {
    font-size: 36px;
    line-height: 44px;
    font-family: MSemi;
    max-width: 506px;
    margin-bottom: 40px;
  }
  &__list {
    &-item {
      padding-left: 74px;
      max-width: 475px;
      font-family: MMedium;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -7px;
        left: -5px;
        background-image: url(../img/mark.png);
        background-repeat: no-repeat;
        background-position: top left;
        width: 65px;
        height: 65px;
      }
      & + & {
        margin-top: 15px;
      }
    }
    margin-bottom: 40px;
  }
  &__btn {
    &-wrapper {
      position: relative;
      padding-right: 125px;
      display: inline-block;
    }
    padding: 14px 50px;
    position: relative;
    z-index: 5;
    color: #fff;
    &-descr {
      font-size: 12px;
      line-height: 15px;
      background: #fff;
      position: absolute;
      top: 3px;
      right: 0;
      background-clip: padding-box; /* !importanté */
      border: solid 2px transparent; /* !importanté */
      font-family: MBold;
      border-radius: 10px;
      width: 184px;
      height: 48px;
      display: flex;
      padding-right: 15px;
      justify-content: flex-end;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        background-image: url(../img/main-bg.png);
        background-repeat: no-repeat;
        background-size: 300%;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(188.39deg, #ffcc00 -2.43%, #ff5100 107.34%);
      }
      div {
        max-width: 90px;
      }
      span {
        color: #ff5100;
      }
    }
  }
}

.order {
  &__container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
  }
  &__title {
    margin-left: 17px;
  }
  &__item {
    width: 375px;
    margin: 0 7px;
    padding: 32px 50px 9px 30px;
    display: flex;
    margin-bottom: 14px;
    flex-direction: column;
    background: linear-gradient(195.44deg, #ffcc00 -2.43%, #ff5100 107.34%);
    box-shadow: 4px 4px 10px #ffb501;
    border-radius: 10px;
    transition: transform 0.3s ease;
    transform: translateY(0);
    &:hover {
      transform: translateY(-3px);
    }
    &-head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 13px;
    }
    &-content {
      display: flex;
      flex-direction: column;
      max-width: 150px;
      font-family: MBold;
      text-shadow: 0px 2px 1px rgba(255, 81, 0, 0.8);
    }
    &-number {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 9px;
    }
    &-title {
      font-size: 18px;
    }
    &-body {
      font-size: 14px;
      line-height: 17px;
      font-family: MMedium;
    }
  }
}

.portfolio {
  padding-top: 146px;
  &__container {
    max-width: 1156px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__title {
    text-align: right;
  }
  &-main {
    width: 100%;
    padding: 19px 19px 15px;
    display: flex;
    margin-bottom: 30px;
    background: #fff;
    background-clip: padding-box; /* !importanté */
    border: solid 3px transparent; /* !importanté */
    border-radius: 10px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(188.39deg, #ffcc00 -2.43%, #ff5100 107.34%);
    }
    &__slider {
      width: 650px;
      &-wrapper {
        margin-right: 33px;
        position: relative;
      }
      &-item {
        width: 100%;
        height: 390px;
        img {
          height: 100%;
          border-radius: 10px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    &__content {
      max-width: 380px;
    }
    &__title {
      font-family: MSemi;
      margin-bottom: 18px;
      font-size: 18px;
      display: inline-block;
    }
    &__select {
      display: none;
      width: 300px;
      border: 2px solid $orange;
      border-radius: 10px;
      font-family: MMedium;
      color: $orange;
      cursor: pointer;
      padding: 6px 0 5px 26px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 12px;
        transition: all 0.3s;
        transform: translateY(-50%) rotate(0);
        width: 18px;
        height: 9px;
        background-image: url(../img/arrow-select.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
      &.active::before {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    &__list {
      margin-bottom: 40px;
    }
    .list-item {
      margin-right: 6px;
      margin-bottom: 9px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    .list-btn {
      padding: 5px 17px;
      border-radius: 5px;
      box-shadow: none;
      color: #000;
      text-shadow: none;
      background: transparent;
      font-size: 13px;
      line-height: 16px;
      font-family: MMedium;
      transition: all 0.1s;
      &.active,
      &:hover {
        background: linear-gradient(188.4deg, #ffcc00 -2.43%, #ff5100 107.34%);
        color: #fff;
        text-shadow: 0px 2px 1px rgba(255, 81, 0, 0.8);
      }
    }
    &__characters {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 45px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 130px;
        height: 2px;
        background: #ff5100;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
    &__character {
      display: flex;
      align-items: center;
      & + & {
        margin-top: 18px;
      }
      &-text {
        font-size: 14px;
        line-height: 17px;
        font-family: MSemi;
        max-width: 205px;
        margin-left: 24px;
      }
    }
    &__price {
      &-wrapper {
        display: flex;
      }
      &-btn {
        padding: 14px 40px;
      }
      &-content {
        margin-left: 20px;
      }
      &-title {
        font-family: MSemi;
      }
      &-text {
        font-size: 14px;
        line-height: 17px;
        font-family: MMedium;
      }
      &-value {
        background: linear-gradient(189.34deg, #ffcc00 -2.43%, #ff5100 107.34%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        line-height: 29px;
        font-family: MSemi;
      }
    }
    &__arrow {
      position: absolute;
      bottom: 15px;
      right: 12px;
      width: 59px;
      z-index: 1;
      height: 29px;
      border-radius: 10px;
      background: #fff;
    }
    .slick-prev,
    .slick-next {
      bottom: 18px;
      padding: 0;
      position: absolute;
      z-index: 2;
    }
    .slick-prev {
      right: 51px;
    }
    .slick-next {
      right: 21px;
    }
  }
  &-common {
    &__item {
      width: 365px !important;
      height: 220px;
      background: #fff;
      padding: 13px;
      position: relative;
      background-clip: padding-box;
      border: 3px solid transparent;
      border-radius: 10px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -3px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(188.39deg, #ffcc00 -2.43%, #ff5100 107.34%);
      }
      &-inner {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        max-height: 100%;
        max-width: 100%;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: linear-gradient(
            197.51deg,
            rgba(255, 204, 0, 0.7) -2.43%,
            rgba(255, 81, 0, 0.7) 107.34%
          );
          border-radius: inherit;
          opacity: 0;
          transition: opacity 0.3s;
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 46px;
          height: 47px;
          background-image: url(../img/zoom.png);
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0;
          transition: opacity 0.3s;
        }
        &:hover::before {
          opacity: 1;
        }
        &:hover::after {
          opacity: 1;
        }
        img {
          border-radius: inherit;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      z-index: 10;
    }
    .slick-prev {
      left: -45px;
      transform: translate(-100%, -50%);
    }
    .slick-next {
      right: -45px;
      transform: translate(100%, -50%);
    }
  }
}

.rent {
  padding-top: 160px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px 10px 108px;
    position: relative;
    color: #fff;
    min-height: 380px;
    font-family: MMedium;
    &::before {
      content: "";
      position: absolute;
      width: 960px;
      left: -220px;
      z-index: 1;
      top: 50%;
      background: linear-gradient(192.09deg, #ffcc00 -2.43%, #ff5100 107.34%);
      box-shadow: 4px 4px 10px #ffb501;
      border-radius: 20px;
      transform: translateY(-50%) matrix(1, 0, 0.3, 1, 0, 0);
      height: 380px;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__head {
    display: flex;
    margin-bottom: 40px;
    &-descr {
      background: #ffffff;
      border-radius: 10px;
      padding: 8px 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        background: linear-gradient(186.43deg, #ffcc00 -2.43%, #ff5100 107.34%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__title {
    font-size: 36px;
    line-height: 44px;
    font-family: MSemi;
    margin-right: 50px;
  }
  &__body {
    margin-bottom: 38px;
    font-family: MMedium;
  }
  &__btn {
    margin-right: 26px;
    padding: 17px 45px 18px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    background: transparent;
    transition: all 0.2s;
    &:hover {
      span {
        background: linear-gradient(186.43deg, #ffcc00 -2.43%, #ff5100 107.34%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      background: #fff;
    }
    &-wrapper {
      display: flex;
      align-items: center;
    }
    &-descr {
      span {
        font-family: MSemi;
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
}

.advan {
  padding-top: 68px;
  &__wrapper {
    padding: 92px 0 105px;
    min-height: 675px;
    box-shadow: inset 0 50px 25px -15px #fff, inset 0 -140px 25px -15px #fff;
    background-image: url(../img/main-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1070px;
    margin: 0 auto;
  }
  &__item {
    max-width: 490px;
    padding-left: 81px;
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 65px;
      height: 65px;
      background-image: url(../img/star.png);
      background-repeat: no-repeat;
      background-position: top left;
    }
    &-title {
      font-size: 24px;
      line-height: 29px;
      font-family: MSemi;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 14px;
      line-height: 17px;
      font-family: MMedium;
    }
  }
}

.pd {
  &__container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__title {
    text-align: right;
    padding-right: 107px;
    margin-bottom: 0;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-content {
      max-width: 490px;
      width: 100%;
      font-size: 12px;
      line-height: 15px;
      font-family: MMedium;
    }
  }
  &__delivery {
    margin-top: -20px;
    align-items: flex-start;
    &-content {
      padding-top: 54px;
    }
  }
  &__pay {
    max-width: 940px;
    margin: 0 auto;
  }
}

.special {
  padding-top: 160px;
  &__wrapper {
    background: linear-gradient(
      0deg,
      rgba(255, 181, 1, 0.21) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    padding-bottom: 60px;
  }
  &__title {
    font-size: 36px;
    line-height: 44px;
    position: relative;
    text-align: center;
    font-family: MSemi;
    margin-bottom: 35px;
    span {
      padding: 0 56px;
      background: #fff;
      position: relative;
      z-index: 3;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 33px;
      background: #ffcc00;
      z-index: 2;
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
  }
  &__item {
    width: 100%;
    padding: 25px 25px 21px 34px;
    background: #fff;
    background-clip: padding-box;
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid transparent;
    border-radius: 10px;
    &-wrapper {
      max-width: 441px;
      width: 100%;
      & + & {
        margin-left: 13px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(188.39deg, #ffcc00 -2.43%, #ff5100 107.34%);
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        0deg,
        rgba(253, 220, 136, 0.21) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 1;
    }
    &-inner {
      padding-left: 107px;
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 85px;
        height: 80px;
        background-image: url(../img/gift.png);
        background-repeat: no-repeat;
        background-position: center left;
      }
    }
    &-content {
      max-width: 275px;
    }
    &-text {
      font-size: 16px;
      line-height: 20px;
      font-family: MMedium;
    }
    &-important {
      font-family: MBold;
      font-size: 24px;
      line-height: 29px;
    }
  }
  &__timer {
    margin-bottom: 45px;
    &-title {
      font-family: MSemi;
      text-align: center;
      margin-bottom: 24px;
    }
    &-inner {
      display: flex;
      justify-content: center;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      & + & {
        margin-left: 11px;
        padding-left: 20px;
        position: relative;
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          width: 9px;
          height: 9px;
          background: $orange;
          border-radius: 50%;
        }
        &::before {
          top: 26px;
        }
        &::after {
          top: 46px;
        }
      }
    }
    .timer-item {
      &__value {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 77px;
        background: linear-gradient(211.07deg, #ffcc00 -2.43%, #ff5100 107.34%);
        box-shadow: 4px 4px 10px #ffb501;
        border-radius: 10px;
        margin-bottom: 5px;
        font-size: 36px;
        line-height: 44px;
        font-family: MBold;
        color: #fff;
        text-shadow: 0px 2px 1px rgba(255, 81, 0, 0.8);
      }
      &__descr {
        font-size: 12px;
        line-height: 15px;
        font-family: MMedium;
      }
    }
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn {
    &-order {
      padding: 14px 58px;
      margin-right: 13px;
      box-shadow: none;
    }
    &-phone {
      padding: 12px 46px;
      border: 2px solid transparent;
      background: #fff0cc;
      background-clip: padding-box;
      border-radius: 10px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        transition: all 0.2s;
        left: 0;
        z-index: -1;
        opacity: 1;
        transition: all 0.2s;
        margin: -2px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(188.39deg, #ffcc00 -2.43%, #ff5100 107.34%);
      }
      &::after {
        content: "";
        position: absolute;
        left: -2px;
        top: -2px;
        z-index: 0;
        height: calc(100% + 4px);
        width: calc(100% + 4px);
        transition: all 0.2s;
        opacity: 0;
        border-radius: inherit; /* !importanté */
        background: linear-gradient(188.39deg, #ffcc00 -2.43%, #ff5100 107.34%);
      }
      span {
        background: linear-gradient(184.92deg, #ffcc00 -2.43%, #ff5100 107.34%);
        background-clip: text;
        transition: all 0.2s;
        z-index: 1;
        position: relative;
        -webkit-text-fill-color: transparent;
      }
      &:hover {
        border: 2px solid transparent;
        &::after {
          opacity: 1;
        }
        &::before {
          opacity: 0;
        }
        span {
          background: #fff0cc;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.contacts {
  &__wrapper {
    padding: 29px 15px 34px 15px;
    background-image: url(../img/contacts.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  &__inner {
    position: relative;
    padding-left: 395px;
  }
  &__title {
    font-size: 36px;
    line-height: 44px;
    font-family: MSemi;
    margin-bottom: 34px;
    color: #ffffff;
  }
  &__content {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
  }
  &__item {
    & + & {
      margin-top: 20px;
    }
    &-title {
      font-family: MBold;
    }
  }
  &__form {
    width: 314px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 4px 20px #ffb501;
    border-radius: 10px;
    padding: 55px 67px 47px 38px;
    min-height: 461px;
    &-title {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 25px;
    }
    &-text {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 19px;
    }
    .input {
      width: 100%;
    }
    .input-phone {
      margin-top: 7px;
      margin-bottom: 19px;
    }
    &-btn {
      margin-bottom: 16px;
      padding: 10px 32px;
    }
  }
  form {
    margin-bottom: 27px;
  }
  &__checkbox-label {
    font-size: 8px;
    line-height: 10px;
    max-width: 100px;
    margin-left: 8px;
  }
  .form__or-text {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 7px;
  }
  .form__or-phone {
    padding-bottom: 8px;
  }
  &__inst {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.footer {
  padding: 25px 0 28px;
  &__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    max-width: 465px;
    font-size: 12px;
    line-height: 15px;
  }
  .com-mobile {
    &__phone:hover,
    &__insta:hover {
      animation: swing 0.5s ease;
    }
    &__insta {
      margin-left: 28px;
    }
  }
}

.modal {
  position: fixed;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(#333, 0);
  justify-content: center;
  align-items: center;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  &.on {
    animation-name: modal-on;
    .modal__inner {
      animation-name: modalInner-on;
    }
  }
  &.off {
    animation-name: modal-off;
    .modal__inner {
      animation-name: modalInner-off;
    }
  }
  &__inner {
    width: 380px;
    position: relative;
    border-radius: 10px;
    transform: translateY(-200%);
    background: #fff;
    background-image: url(../img/modal.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 56px 58px 35px 38px;
    min-height: 544px;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  &__body {
    opacity: 1;
    transition: opacity 0.5s ease;
    &.off {
      opacity: 0;
    }
  }
  &__title {
    max-width: 250px;
    margin-bottom: 19px;
  }
  &__text {
    font-size: 12px;
    line-height: 15px;
    max-width: 246px;
    margin-bottom: 27px;
  }
  &__btn {
    padding: 11px 42px;
    font-size: 14px;
    line-height: 17px;
    transition: none;
    margin-bottom: 14px;
  }
  .checkbox-wrapper {
    padding-left: 5px;
  }
  .checkbox-label {
    font-size: 10px;
    line-height: 12px;
    margin-left: 10px;
    max-width: 130px;
  }
  .input-wrapper,
  input {
    width: 100%;
  }
  .input-phone {
    margin-top: 10px;
    margin-bottom: 28px;
  }
  form {
    margin-bottom: 25px;
  }
  .form__or {
    &-text {
      font-size: 14px;
      line-height: 17px;
      max-width: 150px;
      margin-bottom: 10px;
    }
    &-phone {
      font-size: 24px;
      line-height: 29px;
      display: inline-block;
      padding-bottom: 12px;
    }
  }
  &__or-thanks {
    .form__or-text {
      max-width: 250px;
    }
  }
  .close {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .thanks__img {
    margin: 15px auto 73px;
    width: 139px;
    height: 139px;
    border: 4px solid $orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#sale-modal {
  .modal {
    &__title {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 15px;
    }
    &__sale {
      font-size: 36px;
      line-height: 44px;
      color: $orange;
      font-family: MSemi;
    }
    &__img {
      display: flex;
      justify-content: center;
      margin-top: 44px;
      margin-bottom: 81px;
      &:hover {
        animation: swing 0.5s ease;
      }
    }
    &__img-link {
      display: flex;
    }
  }
  .form__or-text {
    max-width: none;
  }
}

@import "media.scss";
